.container{
  border: 2px solid gray;
  width: 30vw;
  margin: 3vw auto;
  padding: 2vw;
}

.heading{
  font-size: 2vw;
  text-align: center;
}

input{
  width: 100%;
}

.submitBtn{
  border-color: transparent;
  color: white;
  padding: 0.5vw 1vw;
  width: 100%;
  margin: auto;
  background-color: rgb(239, 56, 86);
}